.banner {
    background: #333;
    padding: 50px 10px 30px;
}

.first-content {
    padding-top: 40px;
}

.project-title {
    color: white;
}

.tar_download_link {
    display: block;
    float: right;
    width: 90px;
    height: 70px;
    text-indent: -5000px;
    overflow: hidden;
    background: url("../images/sprite_download.png") no-repeat scroll right bottom transparent;
    margin-left: 10px;
}

.tar_download_link:hover {
    background: url("../images/sprite_download.png") no-repeat scroll right top transparent;
}

.text-justify {text-align: justify;}

.zip_download_link {
    display: block;
    float: right;
    width: 90px;
    height: 70px;
    text-indent: -5000px;
    overflow: hidden;
    background: url("../images/sprite_download.png") no-repeat scroll left bottom transparent;
}

.zip_download_link:hover {
    background: url("../images/sprite_download.png") no-repeat scroll left top transparent;
}

#downloads {
    position: absolute;
    width: 210px;
    z-index: 10;
    bottom: -40px;
    right: 0px;
    height: 70px;
    background: url("../images/icon_download.png") no-repeat scroll 0% 90% transparent;
}

#forkme_banner {
    display: block;
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 10;
    padding: 10px 50px 10px 10px;
    color: rgb(255, 255, 255);
    background: url("../images/blacktocat.png") no-repeat scroll 95% 50% rgb(0, 144, 255);
    font-weight: 700;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

