<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset='utf-8' />
		<meta name="description" content="Kestrel : A completely open computer design." />
		<link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/css/site.css" />
		<title>Gophercloud</title>
	</head>

	<body class="text-justify">
		<div class="container">
			<div class="row">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <a href="/" class="navbar-brand"><img height="24px" src="{{site.baseurl}}/images/gophercloud-original.png" />&nbsp;Gophercloud</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="{{site.baseurl}}/docs.html">Documentation</a></li>
                <li><a href="{{site.baseurl}}/community.html">Community and Support</a></li>
                <li><a href="https://github.com/rackspace/gophercloud/issues" target="_blank">Issues</a></li>
                <li><a href="{{site.baseurl}}/license.html">License</a></li>
              </ul>
            </div>
          </div>
					<a id="forkme_banner" href="https://github.com/rackspace/gophercloud">View on GitHub</a>
        </nav>
			</div>
			{{ content }}
			<div class="row">
				<div class="col-md-12">
					<footer class="inner small">
            <p class="copyright">
              Gophercloud maintained by <a href="https://github.com/sam-falvo">sam-falvo</a>.<br />
              The Gophercloud logo was designed by Patrick Deuley.
            </p>
					</footer>
				</div>
			</div>
		</div>
	</body>
</html>

