<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset='utf-8' />
		<meta name="description" content="Kestrel : A completely open computer design." />
		<link rel="stylesheet" type="text/css" media="screen" href="../../../../dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="../../../../css/site.css" />
		<title>Kestrel</title>
	</head>

	<body class="text-justify">
		<div class="container">
			<div class="row">
				<div class="col-md-12 banner">
					<a id="forkme_banner" href="https://github.com/sam-falvo/kestrel">View on GitHub</a>
					<h1 class="project-title">Kestrel</h1>
					<h2 class="project-title">A completely open computer design.</h2>
					<section id="downloads">
						<a class="zip_download_link" href="https://github.com/sam-falvo/kestrel/zipball/master">Download this project as a .zip file</a>
						<a class="tar_download_link" href="https://github.com/sam-falvo/kestrel/tarball/master">Download this project as a tar.gz file</a>
					</section>
				</div>
			</div>
			{{ content }}
			<div class="row">
				<div class="col-md-12">
					<footer class="inner small">
						<p class="copyright">Kestrel maintained by <a href="https://github.com/sam-falvo">sam-falvo</a>.  
						Published with <a href="http://pages.github.com">GitHub Pages</a>.  
						Theme redesigned around <a href="http://getbootstrap.com">Bootstrap 3.0.2.</a></p>
					</footer>
				</div>
			</div>
		</div>
	</body>
</html>

